main{
    min-height: 80vh;
}

.listFiltros{
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    align-items:center;
    /* background-color: hotpink; */
}


div.scroll {
    background-color: rgb(233, 236, 239);
    width: 100%;
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
    border-radius: 5px ;
    border: solid 1px rgb(191, 192, 202);
  }

.noroeste{
    display: flex;
  /* horizontal : flex-start, center, flex-end, space-around, space-between*/
    justify-content:flex-start;  
  /*vertical: flex-start, center, flex-end, baseline, stretch    */
    align-items:flex-start;
  }
  
  .norte{
    display: flex;
  /* horizontal : flex-start, center, flex-end, space-around, space-between*/
  justify-content:center; 
  /*vertical: flex-start, center, flex-end, baseline, stretch    */
    align-items:flex-start;
  }
  
  .nordeste{
    display: flex;
  /* horizontal : flex-start, center, flex-end, space-around, space-between*/
  justify-content:flex-end;  
  /*vertical: flex-start, center, flex-end, baseline, stretch    */
    align-items:flex-start;
  }
  
  .oeste{
    display: flex;
  /* horizontal : flex-start, center, flex-end, space-around, space-between*/
  justify-content:flex-start;  
  /*vertical: flex-start, center, flex-end, baseline, stretch    */
   align-items:center;
  }
  
  .centro{
    display: flex;
  /* horizontal : flex-start, center, flex-end, space-around, space-between*/
  justify-content:center;  
  /*vertical: flex-start, center, flex-end, baseline, stretch    */
    align-items:center;
  }
  
  .leste{
      display: flex;
    /* horizontal : flex-start, center, flex-end, space-around, space-between*/
    justify-content:flex-end;  
    /*vertical: flex-start, center, flex-end, baseline, stretch    */
      align-items:center;
    }

    header{
        width: 100%;
        height: 10vh;
        background-color:#020438;
        color:#808080;
        font-size: 25px;
        padding: 0 17px ;
    }

    nav{
        width: 100%;
        background-color: #020438;

       
    }
    .mr-auto{
        color:#808080 !important;
    }
    
    .navbar-toggler-icon{
        color:white !important;
        }

        

    .conteudo{
        min-height: calc(80vh);        
    }

    .allFill{
        width: 100%;
        height: 100%;
    }

 /* TABLE ==================================================================================================================== */

table{
    margin-top: 10px;
}

table th{
    
    text-align: center; 
    vertical-align: middle;
}

table td{
    text-align: center; 
    vertical-align: middle;
}


.form_login{
    margin-top: 200px;
    margin-bottom: -1000px;
}

    /* FOOTER ==================================================================================================================== */



    footer{
        width: 100%;
        min-height: 10vh;
        background-color:#284184;  
        display: flex;
    }

    .linha1{
        min-height: 10vh;
        width: 100%;
        background-color: rgb(180, 30, 30);
        display:flex;
        
    }

    .linha2{
        min-height: 10vh;
        width: 100%;
        background-color: rgb(9, 63, 94);
        display:flex;
        color:honeydew;
    }

    .bloco{
        height: 100%;
        width: 33%;
        color:honeydew;
        padding : 10px;
    }


.containerfooter{
    width: 100%;
}


.cards{
    width: '19rem' ;
}

    /* ALERT ==================================================================================================================== */
    .boxAlert {
        margin: 10px auto;
    }
    
    .alert {
        padding: 20px 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
        display: flex;
        align-items: center;
        text-align: center
    }
    
    .alert span {
        flex: 1;
    }
    
    .alert-success {
        color: #3c763d;
        background-color: #d4edda;
        border-color: #d6e9c6;
    }
    
    .alert-error {
        color: #721D24;
        background-color: #F8D7DA;
        border-color: #F8D7DA;
    }
    
    .alert-info {
        color: #fff;
        background-color: #228AE6;
        border-color: #228AE6;
    }
    

    /* BOTOES ==================================================================================================================== */
    /* sobreescrevendo bootstrap */
    .orange_dark{
        border: 2px solid   #808080 !important;
        color:#808080 !important;
        font-size: 15px!important;
        background-color: #020438 !important;
    }

    .orange_dark2{
        color:#808080 !important;
        background-color: #020438 !important;
    }


    .od_hl{
            width: 100%;
            height: 1px;
            color:#808080 !important;
    }





    .maxSpaceBet{
        justify-content :space-between;
    }
    

    .showMyDiv{
     padding: 10px;
     border-radius: 12px;
        /* border: 3px solid #808080; */
    }
    

    .vh50{
        width: calc(80vw - 50px);
        /* height: 60vh; */
    }